{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h1 class="usa-hero__heading"><span class="usa-hero__heading--alt">Quantum Electron Teleportation:</span>The Basics of Project BEAM
      </h1>
      <p>QET can be confusing, click below for. streamlined run down of the process.</p>
      <a class="usa-button" href="javascript:void(0)">More Info</a>
    </div>
  </div>
</section>
